#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &physical_layout0;  // New item added
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

        default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        rows = <12>;
        columns = <1>;
        map =
            <
                RC(0, 0)  RC(1, 0)
                RC(2, 0)  RC(3, 0)
                RC(4, 0)  RC(5, 0)
                RC(6, 0)  RC(7, 0)
                RC(8, 0)  RC(9, 0)
                RC(10, 0) RC(11, 0)
            >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";

        transform = <&default_transform>;
        kscan = <&kscan0>;

        keys  //               w     h     x     y     rot  rx   ry
        = <&key_physical_attrs 200   150   275   0     0    8    8  >
        , <&key_physical_attrs 200   150   525   0     0    8    8  >
        , <&key_physical_attrs 150   375   75    25    0    8    8  >
        , <&key_physical_attrs 150   375   775   25    0    8    8  >
        , <&key_physical_attrs 150   375   75    450   0    8    8  >
        , <&key_physical_attrs 150   375   775   450   0    8    8  >
        , <&key_physical_attrs 200   150   275   700   0    8    8  >
        , <&key_physical_attrs 200   150   525   700   0    8    8  >

        , <&key_physical_attrs 35    100   15    750   0    8    8  >
        , <&key_physical_attrs 35    100   950   750   0    8    8  >

        , <&key_physical_attrs 100   35    65    850   0    8    8  >
        , <&key_physical_attrs 100   35    835   850   0    8    8  >
        ;
    };

};